<h1>Doações</h1>

<hr />
<div id="page-teacher-list" class="container">
  <ul>
    <li *ngFor="let d of donations">
      <article class="teacher-item"></article>
      <header id="header">
        <div id="div2">
          <strong>{{ d.doador }}</strong>
          <span>Tipo Sanguíneo: {{ d.tipo }}</span>
          <span>Cidade: {{ d.cidade }}</span>
          <span>Estado: {{ d.estado }}</span>
          <span>Data: {{ d.data }}</span>
        </div>
      </header>

      <footer>
        <button ng-click="favoritar()">
          isFavorited ?
          <img src="../../assets/heart.png" alt="favorite" /> :
          <img src="../../assets/unfavorite.png" alt="unfavorite" />
        </button>
      </footer>
    </li>
  </ul>
</div>
