<h1>Doações</h1>

<hr />
<main>
  <ul>
    <li *ngFor="let d of donations">
      <article class="donation-item"></article>
      <header id="header">
        <div id="div2">
          <strong>{{ d.doador }}</strong>
          <span>Tipo Sanguíneo: {{ d.tipo }}</span>
          <span>Cidade: {{ d.cidade }}</span>
          <span>Estado: {{ d.estado }}</span>
          <span>Data: {{ d.data }}</span>
        </div>
      </header>

      <footer>
        <button (click)="deletar(d.id)">Deletar</button>
      </footer>
    </li>
  </ul>
</main>
